<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbKCNV5bIezRIlF67JnJUjArEHwnMXSSA</string>
	<key>GCM_SENDER_ID</key>
	<string>87205411334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nwmissouri.edu.Online-Diagnosis</string>
	<key>PROJECT_ID</key>
	<string>online-diagnosis-2354d</string>
	<key>STORAGE_BUCKET</key>
	<string>online-diagnosis-2354d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87205411334:ios:154c707fb4cb565347a187</string>
</dict>
</plist>